.login-form {
  width: 100%;
  max-width: 400px;
}
.login-form h2 {
  font-weight: 600;
}

.login-form .form-control {
  border-radius: 0.5rem;
}

.login-form .btn {
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-weight: 500;
}
